/* Nav Styles */
.nav {
    padding: 2rem 0;
}

.nav__icon,
.nav__close,
.nav__bgOverlay {
    display: none;
}

.nav__wrapper {
    justify-content: space-between;
}


.nav__list li {
    display: inline-block;
    margin: 0 0.5rem;
}

.nav__list .nav__link {
    font-size: 1.6rem;
    font-family: Poppins;
    color: var(--black-2);
    padding: 0.5rem;
    text-decoration: none;
}

.nav__list li:hover .nav__link {
    color: var(--green-1);
}

@media only screen and (min-width:1440px) {
    .nav {
        padding: 2rem;
    }

    .nav__list li {
        margin: 0 1.5rem;

    }

    .nav__wrapper {
        justify-content: space-between;
        display: flex;
    }
}

@media only screen and (min-width:2300px) {
    #logo {
        width: 156%;
    }

    .nav__list .nav__link {
        font-size: 2.5rem;
        font-family: Poppins;
        color: var(--black-2);
        padding: 0.5rem;
        text-decoration: none;
    }

}


@media only screen and (max-width: 768px) {
    .nav {
        position: relative;
        /* overflow-x: scroll; */
    }

    .nav__wrapper {
        display: flex;
    }

    .nav__icon {
        display: block;
    }

    .nav__icon svg,
    .nav__close svg {
        pointer-events: none;
        height: 30px;
        width: 30px;
    }

    .nav__close {
        display: block;
        position: absolute;
        color: var(--black-1);
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }

    .nav__list {
        z-index: 1000;
        position: absolute;
        left: 100%;
        top: 0;
        height: 100vh;
        width: 80%;
        background: var(--lightGreen-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        transform: translate(0%);
        overflow: hidden;
        transition: 0.3s ease-in transform;
    }

    .nav__list.show {
        transform: translate(-100%);
    }

    #logo {
        margin-top: -50px;
        margin-left: -25px;
    }

    .nav__list li {
        display: block;
        text-align: right;
        margin-bottom: 2rem;
    }

    .nav__list a {
        font-size: 1.6rem;
    }

    .nav__bgOverlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        background: rgba(18, 24, 14, 0.808);
        display: none;
    }

    .nav__bgOverlay.active {
        display: block;
    }
}

/* End Nav Styles */
/* Global Button Styles */
.btn {
    color: var(--green-1);
    font-family: Poppins;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    padding: 1.2rem 2rem;
    margin-left: -3px;
}

.primary-btn {
    color: var(--white-1);
    background: #ff4003;
    text-decoration:none;
}

@media only screen and (min-width: 768px) {
    .btn {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 2rem;
        text-decoration:none;
        display: inline-block;
    }

    .book__btn {
        margin-top: -75px;
        text-decoration:none;
    }

    .primary-btn {
        background: #ff4003;
        margin-left: 30rem;
        text-decoration:none;
    }

    #logo {
        margin-top: -75px;
        margin-left: 15px;
    }
}

@media only screen and (min-width:1440px) {
    .btn {

        font-family: Poppins;
        font-weight: 500;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.2rem 2rem;
        margin-left: 3px;
    }

    .primary-btn {
        color: var(--white-1);
        background: #ff4003;
        text-decoration:none;
    }

    #btns {
        width: 500px;
        text-decoration:none;
    }
}

/* End Global Button Styles */



/* Footer Styles */
footer {
    background: var(--lightGreen-1);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__logo {
    width: 150px;
    margin-bottom: -2rem;
    margin-top: -85px;
}

.footer__desc {
    font-size: 1.4rem;
    color: var(--black-2);
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.footer__socials__title {
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1rem;
}

.footer__socials li {
    display: inline-block;
    margin-right: 0.5rem;
}

.footer__socials a {
    padding: 0.9rem 1rem 0.5rem 1rem;
    background-color: var(--white-1);
    border: 1px solid var(--green-2);
    border-radius: 8px;
}

.footer__socials svg {
    width: 20px;
    color: var(--black-2);
}

.footer__text__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--black-1);
    font-weight: 600;
}

.footer__text a {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--black-2);
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.4em;
}

@media only screen and (min-width: 768px) {
    footer {
        padding-top: 4rem;
        padding-bottom: 4.5rem;
        padding-left: 75px;
        padding-right: 80px;
    }

    .footer__wrapper {
        flex-direction: row;
    }

    .footer__col1 {
        flex: 4;
    }

    .footer__col2,
    .footer__col3,
    .footer__col4 {
        flex: 2;
    }

    .footer__logo {
        margin-top: -70px;
        margin-left: -71px;
        width: 56%;
    }

    .footer__img {
        width: 256%;

    }

    .footer__desc {
        max-width: 600px;
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
        margin-left: -57px;
        width: 150px
    }

    .footer__socials__title {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        margin-left: -57px;
    }

    .footer__socials__list {
        display: flex;
        margin-left: -57px;
    }

    .footer__text__title {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .footer__text a {
        font-size: 1rem;
        text-decoration: none;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    .footer__text a {
        font-size: 1.5rem;
    }

    .footer__text__title {
        font-size: 1.7rem;
    }

    .footer__socials__title {
        font-size: 2rem;
    }

    .footer__desc {
        font-size: 1.5rem;
        width: 270px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer__text a {
        font-size: 1.8rem;
    }

    .footer__text__title {
        font-size: 1.8rem;
    }

    .footer__socials__title {
        font-size: 2rem;
    }

    .footer__desc {
        font-size: 1.6rem;
        width: 270px;
    }
}

#copyright {
    padding: 1rem 0;
}

.copyright__text {
    font-size: 1.4rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .copyright__text {
        font-size: 1.2rem;
        text-align: left;
    }
}

/* End Footer Styles */
/* Storeinfo Styles */
.storeinfo__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 40px;

}

.storeinfo__item {
    background-color: var(--lightGreen-1);
    padding: 20px 30px;
    text-align: center;
    text-align: center;
    border-radius: 12px;
    width: 150px;
}

.storeinfo__icon {
    width: 30px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.store__img {
    width: 55px;
    margin-left: -7px;
}

.storeinfo__title {
    font-size: 1rem;
    width: 110px;
    margin-left: -10px;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--black-1);
}

.storeinfo__text {
    font-size: 1.2rem;
    font-family: Raleway;
    color: var(--black-2);
}

@media only screen and (min-width: 768px) {
    .storeinfo__wrapper {
        gap: 2rem;
        margin-top: 100px;
    }

    .storeinfo__item {
        min-width: 200px;
        padding: 40px 0;
    }

    .storeinfo__icon {
        width: 47px;
        margin-bottom: 2.5rem;
    }

    .store__img {
        width: 55px;
    }

    .storeinfo__title {
        font-size: 1.3rem;
        width: 200px;
        margin-left: 2px;
        margin-bottom: 1rem;
    }

    .storeinfo__text {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 2300px) {
    .storeinfo__wrapper {
        gap: 4rem;
        padding: 95px;
    }

    .storeinfo__item {
        min-width: 300px;
        padding: 50px 0;
        min-height: 400px;
    }

    .storeinfo__icon {
        width: 47px;
        margin-bottom: 2.5rem;
    }

    .store__img {
        width: 100px;
        margin-left: -25px;
    }

    .storeinfo__title {
        font-size: 2rem;
        width: 300px;
        margin-left: 2px;
        margin-bottom: 1rem;
    }

    .storeinfo__text {
        font-size: 2.7rem;
    }
}

/* End Storeinfo Styles */
/* DishGrid Styles */
.dishGrid__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--black-1);
}

.dishGrid__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
}

.dishGrid__item {
    display: flex;
    flex-direction: column;
    background-color: var(--lightGreen-1);
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 8px;
}

.dishGrid__item__img {
    flex: 4;
}

.dishGrid__intro {
    flex: 5;
}

.dishGrid__item__img img {
    object-fit: cover;
    border-radius: 9px;
}

.dishGrid__item__title {
    font-size: 1.2rem;
    line-height: 1.149em;
    font-weight: 200;
    color: var(--black-1);
    margin-bottom: 0.5rem;
}

.dishGrid__item__price {
    font-size: 1.6rem;
    color: #ff4003;
    font-weight: 900;
    margin-bottom: 0.2rem;
}

.dishGrid__item__stars {
    width: 120px;
}

@media only screen and (min-width: 769px) {
    .dishGrid__title {
        font-size: 3rem;
        margin-left: 60px;
    }

    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 3rem;
    }

    .dishGrid__item {
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 12px;
        gap: 1rem;
    }

    .dishGrid__item__title {
        font-size: 3rem;
        width: 300px;
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    .dishGrid__item__price {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .dishGrid__item__img img {
        object-fit: cover;
        border-radius: 9px;
        width: 90%;
    }

    .star {
        width: 210px;
    }
}

@media only screen and (min-width: 1024px) {
    .dishGrid__title {
        font-size: 3rem;
        margin-left: 60px;
    }

    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 3rem;
    }

    .dishGrid__item {
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 12px;
        gap: 1rem;
    }

    .dishGrid__item__title {
        font-size: 1.6rem;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    .dishGrid__item__price {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .dishGrid__item__img img {
        object-fit: cover;
        border-radius: 9px;
        width: 105%;
    }

    .star {
        width: 150px;
    }
}

@media only screen and (min-width: 1170px) {
    .dishGrid__title {
        font-size: 3rem;
        margin-left: 60px;
    }

    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 3rem;
    }

    .dishGrid__item {
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 12px;
        gap: 1rem;
    }

    .dishGrid__item__title {
        font-size: 1.8rem;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    .dishGrid__item__price {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .dishGrid__item__img img {
        object-fit: cover;
        border-radius: 9px;

    }

    .star {
        width: 180px;
    }
}

@media only screen and (min-width: 1400px) {
    .dishGrid__title {
        font-size: 4rem;
        margin-left: 60px;
    }

    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 3rem;
    }

    .dishGrid__item {
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 12px;
        gap: 1rem;
    }

    .dishGrid__item__title {
        font-size: 2.1rem;
        width: 254px;
        margin-top: 45px;
        margin-bottom: 1rem;
    }

    .dishGrid__item__price {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .dishGrid__item__img img {
        object-fit: cover;
        border-radius: 9px;
        width: 100%;
    }

    .star {
        width: 200px;
    }
}

@media only screen and (min-width:1458px) {
    .dishGrid__item__img img {
        object-fit: cover;
        border-radius: 9px;
        width: 180%;
    }

    .dishGrid__item__title {
        font-size: 1.6rem;
        width: 234px;
        margin-top: 5px;
        margin-bottom: 1rem;
        padding-left: 7rem;
    }

    .dishGrid__item__price {
        font-size: 1rem;
        margin-bottom: 1rem;
        padding-left: 7rem;

    }

    .star {
        width: 240px;
        padding-left: 7rem;

    }
}

@media only screen and (min-width: 1540px) {
    .dishGrid__title {
        font-size: 4rem;
        margin-left: 60px;
    }

    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 8rem;
    }

    .dishGrid__item {
        flex-direction: row;
        padding: 1rem 3rem;
        border-radius: 12px;
        gap: 1rem;
    }

    .dishGrid__item__title {
        font-size: 2rem;
        width: 344px;
        margin-top: 5px;
        margin-bottom: 1rem;
        margin-left: -10px;
    }

    .dishGrid__item__price {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .dishGrid__item__img img {
        object-fit: cover;
        border-radius: 9px;
        width: 140%;
    }

    .star {
        width: 350px;
    }
}

@media only screen and (min-width: 1667px) and (max-width:2236px) {
    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 8.9rem;
    }
}

@media only screen and (min-width: 1670px) {
    .dishGrid__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 9.2rem;
    }

}

/* End DishGrid Styles */
/* Form Styles */
#form {
    padding: 0;
}

.form__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-1);
    margin-top: 50px;
}

.form__wrapper {
    padding: 3rem 0;
}

.form__wrapper form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.form__group label {
    font-size: 1.6rem;
    font-family: Poppins;
    color: var(--black-2);
    font-weight: 500;
}

.form__group input,
.form__group textarea,
.form__group select {
    width: 100%;
    border: none;
    background-color: var(--lightGreen-1);
    font-size: 1.4rem;
    font-family: Raleway;
    font-weight: 600;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    color: var(--black-2);
}

.form__group textarea {
    resize: vertical;
}

.form__wrapper button[type='submit'] {
    width: max-content;
    border: none;
    padding: 1rem 4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

#date {
    display: none;
}

@media only screen and (min-width:768px) {
    .form__title {
        padding: 4rem 4rem 0 7.8rem;
        font-size: 3rem;
    }

    .form__group input,
    .form__group select {
        width: 80%;
        margin-left: 95px;
    }

    .form__group label {
        font-size: 1.8rem;
        font-weight: 700;
        padding: 2rem 2rem 0 6rem;
    }

    .form__group textarea {
        resize: vertical;
        width: 80%;
        margin-left: 95px;
    }
}

@media only screen and (min-width:760px) and (max-width:770px) {
    .form__title {
        padding: 4rem 4rem 0 2rem;
        font-size: 2.5rem;
    }

    .form__group input,
    .form__group select,
    .form__group textarea {
        width: 80%;
        margin-left: 40px;
    }

    .form__group input,
    .form__group select {
        height: 85px;
    }

    .form__group textarea {
        height: 150px;
    }

    .form__group label {
        font-size: 1.5rem;
        padding: 2rem 2rem 0.2rem 2.5rem;
    }

    .btn {
        margin-left: 40px;
    }

    .form__group {}

    /* End Form Styles */
