.storeinfo__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: -40px;
}

@media only screen and (min-width:769px) and (max-width:1439px) {
    .btn {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 2rem;
        display: inline-block;
        text-decoration:none;
    }

    .book_btn {
        margin-top: -85px;
        margin-left: 0.5rem;
        text-decoration:none;
    }

    .primary-btn {
        margin-left: 30rem;
        font-size: 1.6rem;
        text-decoration:none;
        
    }

    .storeinfo__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 20px;
    }
}
